*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(18, 19, 19);
}
.app{
    padding: 100px 200px;
    display: flex;
    
    
}
.right{
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 500px;
    height: 500px;
}
.left_up{
    width: 90%;
    height: 65%;
    background-color: blue;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    flex-direction: column;
}
.left_down{
    width: 90%;
    height:35% ;
    background-color: blueviolet;
    border-radius: 8%;
    padding: 20px 40px;
    


}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
ul li{
    list-style-type: none;
    
    

}
.weekly{
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}